{% extends 'base.html' %}
{% load static %}
{% block metadescription %}
This is the cart page. Proceed to review your items and place the order.
{% endblock %}
{% block title %}
Cart - NovaBuy Fashion PVT LTD
{% endblock %}
{% block content %}

{% if not cart_items %}
<div class="text-center my-5">
    <h1 class="my_title mb-4">Your Shopping Cart is Empty</h1>
    <p>Please click <a href="{% url 'shop:allProdCat' %}">here</a> to continue shopping.</p>
</div>
{% else %}
<div class="my-4">
    <h1 class="text-center my_title mb-4">Your Shopping Cart</h1>

    <div class="row">
        <!-- Cart Items List -->
        <div class="col-12 col-lg-6">
            <table class="table my_custom_table">
                <thead class="my_custom_thead">
                    <tr>
                        <th colspan="4" class="text-center">Your Items</th>
                    </tr>
                </thead>
                <tbody>
                    {% for cart_item in cart_items %}
                    <tr>
                        <td style="width: 100px;">
                            <a href="{{ cart_item.product.get_absolute_url }}">
                                <img src="{{ cart_item.product.image.url }}" alt="{{ cart_item.product.name }}" class="img-fluid rounded custom_image" />
                            </a>
                        </td>
                        <td class="text-left align-middle">
                            <strong>{{ cart_item.product.name }}</strong><br/>
                            SKU: {{ cart_item.product.id }}<br/>
                            Price: ${{ cart_item.product.price }}<br/>
                            Qty: {{ cart_item.quantity }} x ${{ cart_item.product.price }}
                        </td>
                        <td class="align-middle">
                            <strong>${{ cart_item.sub_total }}</strong>
                        </td>
                        <td class="align-middle">
                            <a href="{% url 'cart:add_cart' cart_item.product.id %}" class="btn btn-sm btn-outline-success" title="Add one"><i class="fa fa-plus"></i></a>
                            &nbsp;
                            <a href="{% url 'cart:remove_cart' cart_item.product.id %}" class="btn btn-sm btn-outline-warning" title="Remove one"><i class="fa fa-minus"></i></a>
                            &nbsp;
                            <a href="{% url 'cart:delete_cart' cart_item.product.id %}" class="btn btn-sm btn-outline-danger" title="Remove item"><i class="fa fa-trash"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <!-- Checkout Summary -->
        <div class="col-12 col-lg-6">
            <table class="table my_custom_table">
                <thead class="my_custom_thead">
                    <tr>
                        <th class="text-center">Checkout</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            Please review your shopping cart items before proceeding with the order payment.
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="d-flex flex-column gap-2">
                <a href="{% url 'shop:allProdCat' %}" class="btn btn-secondary btn-block">Continue Shopping</a>
                <a href="{% url 'checkout:begin' %}" class="btn btn-primary btn-block">Proceed to Checkout</a>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% endblock %}
