{% extends 'base.html' %}
{% load static %}

{% block metadescription %}
{% if category %}
{{ category.description|truncatewords:155 }}
{% else %}
Welcome to AI Fashion where you can buy a variety of fashionable items.
{% endif %}
{% endblock %}

{% block title %}
{% if category %}
{{ category.name }} - AI Fashion
{% else %}
See Our New Collections - AI Fashion
{% endif %}
{% endblock %}

{% block content %}
{% if category %}
<div class="row my_row_class">
    <div class="mx-auto">
        <p><a href="{% url 'shop:allProdCat' %}">Our Product Collection</a></p>
    </div>
</div>
{% endif %}

<div class="mx-auto text-center my-3">
    {% if category %}
    <img class="my_image img-fluid rounded" src="{{ category.image.url }}" alt="Image of {{ category.name }}" />
    {% endif %}
</div>

{% if category %}
<br />
<div>
    <h1 class="text-center my_title">{{ category.name }}</h1>
    <p class="text-justify px-3">{{ category.description }}</p>
</div>
{% else %}
<div class="text-center">
    <img class="my_image my_image_padding img-fluid rounded" src="{% static 'img/banner.png' %}" alt="Our products banner" style="max-height: 300px; max-width: 100%;" />
</div>
<br />
<div>
    <h1 class="text-center my_title">Our Products Collections</h1>
    <p class="text-justify px-3"></p>
</div>
{% endif %}

<div class="container-fluid">
    <div class="row mx-auto">
        {% for product in products.object_list %}
        <div class="my_bottom_margin col-12 col-sm-6 col-md-4 col-lg-4">
            <div class="card text-center" style="min-width: 18rem;">
                <a href="{{ product.get_url }}">
                    <img class="card-img-top my_image img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}" />
                </a>
                <div class="card-body">
                    <h4>{{ product.name }}</h4>
                    <p>${{ product.price }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="mx-auto my-4 text-center">
        {% if products.paginator.num_pages > 1 %}
        <hr />
        <nav aria-label="Page navigation">
            {% for pg in products.paginator.page_range %}
            <a href="?page={{ pg }}" 
               class="btn btn-light btn-sm {% if products.number == pg %} active {% endif %}"
               {% if products.number == pg %} aria-current="page" {% endif %}>
               {{ pg }}
            </a>
            {% endfor %}
        </nav>
        {% endif %}
    </div>
</div>
<br />
{% endblock %}
